<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318358076065-4tg6ru0j3q4th8rtcfa14a90dkkqfvm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318358076065-4tg6ru0j3q4th8rtcfa14a90dkkqfvm9</string>
	<key>API_KEY</key>
	<string>AIzaSyAtefVbuTxx0wnq1Z965FeLaZM2KbmmJ2E</string>
	<key>GCM_SENDER_ID</key>
	<string>318358076065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matheuseli.flashchatflutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b58ca</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b58ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318358076065:ios:1e88f598f47170447c0ee0</string>
</dict>
</plist>